# Dependencies
node_modules/
/framework/

# Backup
src_backup/

# Build and Temp
.float/
dist/
.next/
out/

# Logs
*.log
!float-warning.log
browser-access.log

# OS
.DS_Store

# Environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
